.categories.flex.flex-col.items-center.min-h-screen
  .navbar.bg-gradient-to-b.from-blue1.to-blue2.h-24.w-screen.flex.items-center.text-white.justify-center.relative
    %a{:href => categories_path, :class => "absolute top-12 left-4 text-2xl"} ☰
    %h1.text-2xl.mt-8
      CATEGORIES
    = button_to "[➥", destroy_user_session_path, method: :delete, |
      class: 'absolute top-12 right-3 font-bold text-2xl',        |
      title: 'Log-out'
  .list.w-screen.flex.flex-col.items-center.p-2
    - if @categories.length > 0
      - @categories.each do |category|
        = link_to transactions_path(category), class: "bg-white rounded p-4 my-2 w-[100%] max-w-[612px] text-center flex items-stretch gap-4" do
          %img{:src => category.icon(:small).url, :class => "w-24 h-24"}
          .info.flex.flex-col.justify-between.w-full
            %h3.text-2xl.font-semibold.text-darker.self-start.cursor-pointer
              = category.name
            %p.self-end
              %span.text-dark
                Total transactions:
              = "$#{category.total_invoices}"
    - else
      %h2.font-semibold.text-3xl
        No Categories Yet
  %div(class="bg-green text-white p-4 w-[100%] max-w-[612px] text-center mt-auto cursor-pointer flex flex-col items-stretch")
    = link_to 'NEW CATEGORY', new_category_path, class: "border border-white rounded bg-green text-white py-4 text-center mt-auto"